.top-notices-outlet.extend-for-fireside-player {
  margin-top: .5em;
  margin-bottom: 1em;
}
.topic-above-suggested-outlet.extend-for-fireside-player {
  float: left;
  margin: .75em 0;
}
.random-class {}
